/*******Search***/
.input-group span{
    background-color: #FFFFFF;
}
.show-list-bill .name-col{
    width: 100%;
    height: 40px;
    background-color: var(--color-blue-origin);
    color: #FFFFFF;
    font-weight: bold;
}
