#main{
    background-color: #f4f4f4;
}
#main .container{
    border-radius: 10px;
    background-color: #FFFFFF;
}
/*******Search***/
.input-group span{
    background-color: #FFFFFF;
}
.input-group input::placeholder{
    color: rgba(0, 0, 0, 0.5);
    font-size: 13px;
}
/****show list bill****/
.show-list-bill .name-col{
    width: auto;
    padding: 20px 0;
    background-color: var(--color-blue-origin);
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 10px 10px 0 0;
}
.show-list-bill .list-bill .item-bill{
    border-bottom: 1px solid #000000;
}
.show-list-bill .list-bill .item-bill .id-item{
    color: var(--color-blue-origin);
    font-weight: bold;
}
.show-list-bill .list-bill .item-bill .in4-img{
    margin: 0 12px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #000000;
}
.show-list-bill .list-bill .item-bill .in4-tex ul li:not(li:first-child){
    font-size: 10px;
    color: rgba(0, 0, 0, 0.5);
}
/*Phần footer, coppy*/
#main .table .footer-table {
    border: rgba(0, 0, 0, 0.5) solid 2px;
    border-radius: 0 0 10px 10px;
}

.footer-table .change-page-display-list button {
    border-radius: 50px;
    width: 35px;
    height: 35px;
    margin: 0 5px;
    background-color: #FFFFFF;
}

.footer-table .change-page-display-list button:hover,
.footer-table .change-page-display-list button.active {
    color: #fff;
    background-color: var(--color-blue-origin);
    font-weight: 550;
}
/*Phần avatar và text, coppy*/
#main .table .body-table .customer .avatar-customer {
    border: rgba(0, 0, 0, 0.5) solid 2px;
    width: fit-content;
    border-radius: 50%;
    padding: 5px;
}

#main .table .body-table .customer .avatar-customer img {
    width: 40px;
    height: 40px;
}

#main .table .body-table .customer .info-customer p:nth-of-type(1) {
    font-size: 15px;
}

#main .table .body-table .customer .info-customer p:nth-of-type(2),
#main .table .body-table .customer .info-customer p:nth-of-type(3) {
    font-size: 10px;
}
/***show bot***/
/*.show-bot ul li{*/
/*    padding: 0 8px;*/
/*}*/
/*.show-bot .sum-bil{*/
/*    font-size: 12px;*/
/*    color: rgba(0, 0, 0, 0.5);*/
/*    padding-left: 32px;*/
/*}*/
/*.show-bot .phan-trang .btn-phan-trang{*/
/*    display: block;*/
/*    width: 24px;*/
/*    height: 24px;*/
/*}*/
/*.show-bot .phan-trang .btn-phan-trang:hover{*/
/*    background-color: var(--color-blue-origin);*/
/*    color: #FFFFFF;*/
/*    border-radius: 50% ;*/
/*}*/
/*.show-bot .phan-trang .page-active{*/
/*    border-radius: 50%;*/
/*    background-color: var(--color-blue-origin);*/
/*}*/
/*.show-bot .phan-trang .page-active a {*/
/*    color: #FFFFFF;*/
/*}*/
