
#main form input {
    padding: 5px 0 5px 12px;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    width: 100%;
}

#main form input[type='number']::-webkit-inner-spin-button,
#main form input[type='number']::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

#main input:focus {
    outline: none;
}

#main .input .title {
    position: relative;
    top: -15px;
    left: 25px;
    background-color: #fff;
    width: fit-content;
}

#main .input {
    width: 65%;
    border: rgba(0, 0, 0, 0.5) solid 2px;
    position: relative;
    border-radius: 10px;
    padding-bottom: 26px;
    margin-bottom: 36px;
}

#main .input > div {
    margin-left: 25px;
    margin-right: 25px;
}

#main .container{
    position: relative;
}


/*Phần thông tin sản phẩm*/
#main .input-info-product .input-expanded-info-product {
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    width: 93.5%;
}

#main .input-info-product .input-expanded-info-product .input-expanded-info-product-header {
    display: flex;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    padding: 10px 0 10px 8px;
}

#main .input-info-product .input-expanded-info-product .input-expanded-info-product-header span {
    margin-right: 10px;
}

#main .input-info-product .input-expanded-info-product .input-expanded-info-product-body {
    height: 350px;
    overflow: auto;
    position: relative;
}

#main .input-info-product .input-expanded-info-product .input-expanded-info-product-body label {
    position: absolute;
    height: 100%;
    width: 100%;
}

#main .input-info-product .input-expanded-info-product .input-expanded-info-product-body > div {
    padding: 5px 12px;
}

#main .input-info-product .input-expanded-info-product .input-expanded-info-product-body input {
    position: relative;
    width: 100%;
    background: none;
}

/*Phần ảnh minh họa*/
#main .input-img-product .input-img-product-body {
    border: rgba(0, 0, 0, 0.3) solid 2px;
    border-radius: 5px;
    padding: 10px 10px 0 10px;
}


#main .input-img-product .input-img-product-body > div {
    vertical-align: middle;
    width: 95px;
    height: 95px;
    padding: 5px;
    border: 1px solid black;
    margin-right: 10px;
    border-radius: 0;
    margin-bottom: 10px;
    display: inline-block;
    position: relative;
}

#main .input-img-product .input-img-product-body .img-product button {
    background: none;
    border: none;
    position: absolute;
    top: -18px;
    right: -10px;
    font-size: 20px;
}

#main .input-img-product .input-img-product-body .input label,
#main .input-img-product .input-img-product-body .img-product img {
    width: 100%;
    height: 100%;
}

#main .input-img-product .input-img-product-body .input label span {
    font-size: 85px;
}

/*Phần sự lựa chọn*/
#main .input-option-product .input-option-product-body input,
#main .input-option-product .input-option-product-body select {
    border-radius: 5px;
    padding: 5px 12px;
    height: 40px;
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.3);
}

#main .input-option-product .input-option-product-footer {
    margin-top: 15px;
}

#main .input-option-product .input-option-product-footer button {
    background-color: var(--color-blue-origin);
    color: #fff;
    font-weight: bold;
}

/*Phần số lượng và thời gian ra mắt*/
#main .input-amount-and-release-date-product .input-amount-and-release-date-product-body div {
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    position: relative;
    width: 100%;
}

#main .input-amount-and-release-date-product .input-amount-and-release-date-product-body div:nth-of-type(1) {
    margin-bottom: 15px;
}

#main .input-amount-and-release-date-product .input-amount-and-release-date-product-body div label {
    position: absolute;
    left: 10px;
    top: -11px;
    width: fit-content;
    background-color: #fff;
}

#main .input-amount-and-release-date-product .input-amount-and-release-date-product-body input {
    padding: 7px 12px;
    border: none;
    width: 100%;
}

/*Phần giá*/
#main .input-price-product{
    width: 30%;
    position: absolute;
    right: 0;
    top: 0;
}

#main .input-price-product .input-price-product-body input:nth-of-type(1){
    margin-bottom: 15px;
}

#main .input-price-product .input-price-product-footer .checkbox input{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

/*Phần bộ lọc sản phẩm*/
#main .input-filter-product{
    width: 30%;
    position: absolute;
    right: 0;
    top: 236px;
}

#main .input-filter-product .input-filter-product-body select{
    border-radius: 5px;
    padding: 5px 12px;
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 15px
}

#main .input-filter-product .input-filter-product-body select:last-of-type{
    margin-bottom: 0;
}