input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

#account-page .account-page-sidebar .account-sidevar-avatar .display-avatar{
    border: 1px rgba(0, 0, 0, 0.5) solid;
    position: relative;
    width: 135px;
    height: 135px;
}


#account-page .account-page-sidebar .account-sidevar-avatar .change-avatar{
    top: 120px;
    left: 110px;
}

#account-page .account-page-sidebar .account-sidebar-menu li{
    margin-bottom: 5px;
}

#account-page .account-page-sidebar .account-sidebar-menu span,
#account-page .account-page-sidebar .account-sidebar-menu button{
    padding: 5px 15px;
    border-radius: 5px;
    display: block;
    background: none;
    border: #fff 2px solid;
    max-width: 300px;
    width: 100%;
    text-align: left;
}

#account-page .account-page-sidebar .account-sidebar-menu button.active{
    background-color: #2F189A;
    color: #fff;
}
#account-page .account-page-sidebar .account-sidebar-menu span:hover,
#account-page .account-page-sidebar .account-sidebar-menu button:hover{
    border-radius: 5px;
    border: #2F189A 2px solid;
}

#account-page .account-page>div{
    display: none;
}

#account-page .account-page>div.active{
    display: block;
}

#account-page .account-page .account-page-content .other-address .list-address-item{
    height: 270px;
    overflow-y: auto;
}

#account-page .account-page .account-page-content .row{
    overflow-y: hidden;
    margin-bottom: 10px;

}